
<h1 class="news-header">
  <span>News</span>
  <span style="font-size: 70%;" class="font-weight-mid"> : : Index</span>
</h1>
<hr class="hr-line" />

<div class="table-container api-dom">
  <!-- "Create" button -->
  <div class="table-cta table-cta-create">
    <a data-link="news.create" href>
      <button class="btn btn-warning btn-sm">Add News</button>
    </a>
  </div>

  <!-- Auto Pagination -->
  <div class="table-pagination" data-pagination="news">
    <!-- pagination auto-inserted here -->
  </div>

  <table class="table news-list">
    <thead>
    <tr>
      <th style="width: 5%;">ID</th>
      <th style="width: 15%;">Title</th>
      <th style="width: 40%;">Body</th>
      <th style="width: 25%;">Author</th>
      <th style="width: 15%;">Action</th>
    </tr>
    </thead>
    <tbody class="w-100 d-cloak">
    <tr class="data-row" data-item="news" data-keys="id,title,body,author,avatar">
      <!-- ID -->
      <td data-key="id" class="text-center b-d"></td>
      <!-- Title -->
      <td data-key="title"></td>
      <!-- Body -->
      <td data-key="body"></td>
      <!-- Author -->
      <td class="w-25">
        <div style="display: flex;">
          <img data-key="avatar" src="" class="img img-circle avatar" alt="avatar" />
          <span style="padding: 10px 5px;">
            <span data-key="author" style="display: block;"></span>
            <small data-key="date" style="color: grey;"></small>
          </span>
        </div>
      </td>
      <!-- Actions -->
      <td>
        <a data-link="news.view" href="">
          <button class="btn btn-xs btn-info" style="display: inline-block">View</button>
        </a>
        <a data-handler="click:news.delete" href class="text-center b-d">
          <button class="btn btn-xs btn-danger" style="display: inline-block">Delete</button>
        </a>
      </td>
    </tr>
    <!-- Shown when API data contains no items -->
    <!-- For a table (like this one), this 'no-results' row (<tr>) can be automatically inserted here -->
<!--    <tr class="data-row-empty">-->
<!--      <td colspan="4" class="text-center">Amazing things!</td>-->
<!--    </tr>-->
    </tbody>
  </table>
</div>
