
<h1 class="news-header">
  <span>News</span>
  <span style="font-size: 70%;" class="font-weight-mid"> : : Index</span>
</h1>
<hr class="hr-line" />

<div class="table-container api-dom">
  <!-- "Create" button -->
  <div class="table-cta table-cta-create">
    <a data-link="news.create" href>
      <button class="btn btn-warning btn-sm">Add News</button>
    </a>
  </div>

  <!-- Auto Pagination -->
  <div class="table-pagination" data-pagination="news">
    <!-- pagination auto-inserted here -->
  </div>

  <div class="table-box">
    <table class="table news-list">
      <thead>
      <tr>
        <th style="width: 5%;">ID</th>
        <th style="width: 25%;">Title</th>
        <th style="width: 40%;">Body</th>
        <th style="width: 20%;">Author</th>
        <th style="width: 15%;">Action</th>
      </tr>
      </thead>
      <tbody class="w-100 d-cloak">
      <tr class="data-row" data-collection="news">
        <!-- ID -->
        <td data-text="prop:id" class="text-center b-d"></td>
        <!-- Title -->
        <td data-text="prop:title"></td>
        <!-- Body -->
        <td class="">
          <div data-text="prop:body" class=" truncate-3" style="height: 100%;"></div>
        </td>
        <!-- Author -->
        <td class="w-25">
          <div style="display: flex;">
            <img data-link="prop:avatar" src="" class="img img-circle avatar" alt="avatar" />
            <span style="padding: 10px 5px;">
            <span data-text="prop:author" style="display: block;"></span>
            <small data-text="prop:date" style="color: grey;"></small>
          </span>
          </div>
        </td>
        <!-- Actions -->
        <td>
          <a data-link="route:news.view" href="" class="mb-1 btn btn-icon btn-info btn-outline">i</a>
          <a data-handler="click:news.delete" data-params="props:id,title" href
             class="mb-1 no-hover btn btn-icon btn-danger btn-outline">&times;</a>
        </td>
      </tr>
      <!-- Shown when API data contains no items -->
      <!-- For a table (like this one), this 'no-results' row (<tr>) can be automatically inserted here -->
      <!--    <tr class="data-row-empty">-->
      <!--      <td colspan="4" class="text-center">Amazing things!</td>-->
      <!--    </tr>-->
      </tbody>
    </table>
  </div>
</div>
