
<h1 class="news-header container-w100 mt-0 pt-1 px-3">
  <span>News</span>
  <small class="fw-mid fs-p70"> :: View</small>
</h1>


<div class="table-container api-dom">
<!--<div class="form-container api-dom b b-i px-3">-->
  <!-- Title -->
  <h1 class="d-xs-none mb-0">Why EQ matters at work</h1>
  <h3 class="d-sm-a-none mb-0">Why EQ matters at work</h3>

  <!-- Author | Date -->
  <div class="row mb-4">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-2">
      <span><small class="text-muted">Published: </small>Feb 27, 2020</span>
    </div>
    <div class="col-12 col-sm-6">
      <span><small class="text-muted">Category: </small>Human Management</span>
    </div>
  </div>

  <!-- Image Slider -->
  <div class="row">
    <!-- Offset left -->
    <div class="col-0 col-sm-1 col-md-2 d-xs-none"></div>
    <div class="col-12 col-sm-10 col-md-8">

      <!-- Slides Container :: full-width images with number and caption texts -->
      <div class="slides-container">
        <!-- Slide item 1 -->
        <div class="slide-item fade">
          <div class="number-text">1 / 3</div>
          <img src="http://127.0.0.1:8090/deciano/news/storage/u-pics/03839c3365a10.jpg" class="img slide-image" alt="avatar" />
          <div class="caption-text">Caption Text</div>
        </div>

        <!-- Slide item 2 -->
        <div class="slide-item fade">
          <div class="number-text">2 / 3</div>
<!--          <img data-prop="slide-image" src="" class="img img-circle avatar" alt="slideImage" />-->
          <img src="http://127.0.0.1:8090/deciano/news/storage/u-pics/da4867e33c2c2.jpg" class="img slide-image" alt="avatar" />
          <div class="caption-text">Caption Two</div>
        </div>

        <!-- Slide item 3 -->
        <div class="slide-item fade">
          <div class="number-text">3 / 3</div>
          <img src="http://127.0.0.1:8090/deciano/news/storage/u-pics/f5c742df6cf66.png" class="img slide-image" alt="avatar" />
          <div class="caption-text">Caption Three</div>
        </div>

        <!-- Slide Navigation Buttons :: Next and previous -->
        <div class="slide-arrows">
          <div class="slide-arrow prev" onclick="plusSlides(-1)">&#10094;</div>
          <div class="slide-arrow next" onclick="plusSlides(1)">&#10095;</div>
        </div>

        <!-- Slide Navigation Dots -->
        <div class="slide-dots">
          <span class="slide-dot" onclick="currentSlide(1)"></span>
          <span class="slide-dot" onclick="currentSlide(2)"></span>
          <span class="slide-dot" onclick="currentSlide(3)"></span>
        </div>
      </div>

    </div>
    <!-- Offset right -->
    <div class="col-0 col-sm-1 col-md-2 d-xs-none"></div>
  </div>


  <!-- Body -->
  <div class="row my-4">
    <div class="col-12">
      EQ is the ability to leverage and control one’s emotions while navigating relationships and stressful situations.
      Having a high EQ means a person uses good judgment and empathy in equal measure
      <br />
      <br />
      EQ is the ability to leverage and control one’s emotions while navigating relationships and stressful situations.
      Having a high EQ means a person uses good judgment and empathy in equal measure
      <br />
      <br />
      EQ is the ability to leverage and control one’s emotions while navigating relationships and stressful situations.
      Having a high EQ means a person uses good judgment and empathy in equal measure
    </div>
  </div>

  <!-- Customised star-double-hr line -->
  <div class="row mt-3 mx-3">
    <div class="col-5">
      <hr class="hr-line" />
    </div>
    <div class="col d-flex text-muted" style="justify-content: space-around; width: 1px;">
      <div class="text-center" style="margin: -5px 5px 0 0;">~</div>
      <div class="b b-g b-circle d-flex text-center" style="height: 12px; padding: 0 2px;">*</div>
      <div class="text-center" style="margin: -5px 0 0 5px;">~</div>
    </div>
    <div class="col-5">
      <hr class="hr-line" />
    </div>
  </div>

  <div class="row mb-4 mx-3">
    <div class="col-12 text-center">
      <img src="http://127.0.0.1:8090/deciano/news/assets/images/profile/avatar_male.png" class="img img-circle avatar" alt="avatar" />
    </div>
    <div class="col-12 text-center">
      <div style="padding-top: 5px;">Fred Gattuso</div>
      <small class="text-muted">Senior Reporter, AS News</small>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Offset left -->
    <div class="col-0 col-lg-2 d-xs-none d-sm-none d-md-none"></div>
    <!-- Comments Header -->
    <div class="col-12 col-lg-8">
      <h3 style="background: #f3f3f3; padding: 3px 15px;" class="b b-g bx-0 bt-0">Comments</h3>
    </div>
    <!-- Offset right -->
    <div class="col-0 col-lg-2 d-xs-none d-sm-none d-md-none"></div>

    <!-- Comments Body -->
    <div class="col-12">
      <div class="row">
        <!-- Offset left -->
        <div class="col-0 col-lg-2 d-xs-none d-sm-none d-md-none"></div>
        <!-- Commenter Photo -->
        <div class="col-2 col-lg-2 text-center">
          <img src="http://127.0.0.1:8090/deciano/news/assets/images/profile/avatar_male.png" class="img img-circle avatar-responsive" alt="avatar" />
        </div>
        <!-- Comment :: Large screen -->
        <div class="col-10 col-lg-6 d-xs-none">
          <small class="text-muted">Feb 27, 2020,&nbsp;</small>
          <small class="">Fred Gattuso<span class="text-muted">&nbsp;says:</span></small>
          <div class="">
            AAA
            EQ is the ability to leverage and control one’s emotions while navigating relationships and stressful situations.
            Having a high EQ means a person uses good judgment and empathy in equal measure
          </div>
        </div>
        <!-- Comment :: X-Small screen -->
        <div class="col-10 col-lg-6 d-flex d-sm-a-none" style="align-items: center;">
          <small class="text-muted">Feb 27, 2020,&nbsp;</small>
          <small class="">Fred Gattuso<span class="text-muted">&nbsp;says:</span></small>
        </div>
        <div class="col-12 col-lg-0 d-sm-a-none">
          BBB
          EQ is the ability to leverage and control one’s emotions while navigating relationships and stressful situations.
          Having a high EQ means a person uses good judgment and empathy in equal measure
        </div>
        <!-- Offset right -->
        <div class="col-0 col-lg-2 d-xs-none d-sm-none d-md-none"></div>
      </div>
    </div>
  </div>

</div>