* {
    box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Catamaran", sans-serif;
    line-height: 1.42;
}
body {
    margin: 0;
}

hr {
    /*border: solid 1px lightgrey;*/
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
}
a:link, a:visited {
    color: dodgerblue;
}
a:hover:not(.no-hover) {
    color: #0fc5ff;
}

ul > li {
    cursor: default;
}

ul.list-unstyled > li {
    list-style: none;
}

ul.horizontal {
    padding: 0;
    border: solid 1px lightgrey;
    display: inline-block;
}

ul.horizontal > li {
    display: table-cell;
    border-right: solid 1px lightgrey;
    margin: 0;
    padding: 5px 15px;
}

ul.horizontal > li:last-child {
    border-right: 0;
}

label {
    font-weight: 600;
}
label:not(.label-inline) {
    display: block;
}

textarea {
    resize: vertical;
}


/* --- D O M --- */
.d-flex {
    display: flex;
}
.align-items-base {
    align-items: baseline;
}
.align-items-center {
    align-items: center;
}

.d-none, .d-cloak {
    display: none;
}
.d-block {
    display: block !important;
}
.d-inline-block {
    display: inline-block !important;
}

.hr-line {
    display: block;
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-bottom: solid 1px lightgrey;
}


.align-middle {
    vertical-align: middle !important;
}

.text-white {
    color: white !important;
}

.text-dark {
    color: black !important;
}

.text-muted {
    color: grey !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.text-wrap {
    white-space: normal !important;
}

.text-nowrap {
    white-space: nowrap !important;
}


.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-1 {
    padding: 5px !important;
}
.pl-1 {
    padding-left: 5px !important;
}
.pr-1 {
    padding-right: 5px !important;
}
.px-1 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.pt-1 {
    padding-top: 5px !important;
}
.pb-1 {
    padding-bottom: 5px !important;
}
.py-1 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.p-2 {
    padding: 10px !important;
}
.pl-2 {
    padding-left: 10px !important;
}
.pr-2 {
    padding-right: 10px !important;
}
.px-2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pt-2 {
    padding-top: 10px !important;
}
.pb-2 {
    padding-bottom: 10px !important;
}
.py-2 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-3 {
    padding: 15px !important;
}
.pl-3 {
    padding-left: 15px !important;
}
.pr-3 {
    padding-right: 15px !important;
}
.px-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.pt-3 {
    padding-top: 15px !important;
}
.pb-3 {
    padding-bottom: 15px !important;
}
.py-3 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-1 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mt-1 {
    margin-top: 5px !important;
}
.mb-1 {
    margin-bottom: 5px !important;
}
.my-1 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.ml-1 {
    margin-left: 5px !important;
}
.mr-1 {
    margin-right: 5px !important;
}
.mx-1 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.m-3 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mt-3 {
    margin-top: 15px !important;
}
.mb-3 {
    margin-bottom: 15px !important;
}
.my-3 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.ml-3 {
    margin-left: 15px !important;
}
.mr-3 {
    margin-right: 15px !important;
}
.mx-3 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.m-4 {
    margin: 30px !important;
}
.mt-4 {
    margin-top: 30px !important;
}
.mb-4 {
    margin-bottom: 30px !important;
}
.my-4 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.ml-4 {
    margin-left: 30px !important;
}
.mr-4 {
    margin-right: 30px !important;
}
.mx-4 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.m-5 {
    margin: 40px !important;
}
.mt-5 {
    margin-top: 40px !important;
}
.mb-5 {
    margin-bottom: 40px !important;
}
.my-5 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.ml-5 {
    margin-left: 40px !important;
}
.mr-5 {
    margin-right: 40px !important;
}
.mx-5 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

@media (min-width: 768px) {
    .my-sm-5 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 575px) {
    .d-xs-none {
        display: none;
    }
    .ml-xs-0 {
        margin-left: 0 !important;
    }
    .mr-xs-0 {
        margin-right: 0 !important;
    }
    .mx-xs-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .text-xs-center {
        text-align: center !important;
    }
}
@media (min-width: 576px){
    .d-sm-a-none {
        display: none;
    }
    .mx-sm-a-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .d-sm-none {
            display: none;
        }
        .mx-sm-0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
@media (min-width: 768px) {
    .d-md-a-none {
        display: none;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .d-md-none {
            display: none;
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .d-lg-a-none {
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        .d-lg-none {
            display: none;
        }
    }
}
@media (min-width: 1201px) {
    .d-xl-none {
        display: none;
    }
}


/* --- B O R D E R --- */
.b {
    border: solid 1px;
}
.b.bt-0 {
    border-top-width: 0;
}
.b.bb-0 {
    border-bottom-width: 0;
}
.b.by-0 {
    border-top-width: 0;
    border-bottom-width: 0;
}
.b.bl-0 {
    border-left-width: 0;
}
.b.br-0 {
    border-right-width: 0;
}
.b.bx-0 {
    border-left-width: 0;
    border-right-width: 0;
}

.b-circle {
    border-radius: 50%;
}
.rounded {
    border-radius: 5px !important;
}

.b-s {
    border-color: darkgreen;
}

.b-i {
    border-color: dodgerblue;
}

.b-w {
    border-color: orange;
}

.b-d {
    border-color: darkred;
}

.b-p {
    border-color: navy;
}

.b-g {
    border-color: darkgrey;
}


/* --- S P I N N E R --- */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(114, 119, 129, 0.35);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.overlay .loading {
    min-width: 150px;
    width: 200px;
    height: 46px;
    border: solid 1px #dedede;
    border-radius: 5px;
    background-color: #f3f3f3;
    position: fixed;
    z-index: 110;
    top: calc(50vh - 23px);
    left: calc(50vw - 100px);
}

.overlay .spinner-text {
    font-weight: 600;
}

.overlay .spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px 20px;
    vertical-align: middle;
    border: solid 3px #f3f3f3;
    border-top: solid 3px #3498db;
    border-radius: 50%;
    animation: spin 0.6s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* --- P A G I N A T I O N --- */
/* - Container - */
.table-pagination {
    margin: 10px 0;
    color: #6a6a6a;
}
@media (min-width: 576px) {
    .table-pagination {
        display: flex;
        justify-content: space-between;
    }
}

.table-pagination .pagination-meta {
    display: flex;
    justify-content: left;
}
@media (max-width: 575px) {
    .table-pagination .pagination-meta {
        justify-content: space-between;
    }
}

@media (min-width: 576px) {
    .table-pagination .pagination-meta .pagination-limit,
    .table-pagination .pagination-meta .pagination-summary {
        margin-right: 15px;
    }
}

.table-pagination .pagination-meta .pagination-summary .pg-count {
    font-family: "Source Code Pro", "Courier New", Helvetica, SansSerif, serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

/* - Pagination - */
.pagination {
    display: inline-block;
    padding: 0;
    color: #6a6a6a;
}
@media (max-width: 575px) {
    .pagination {
        display: flex;
        justify-content: flex-end;
    }
}

.pagination > .pagination-item {
    display: table-cell;
    border: solid 1px lightgrey;
    border-right: solid 0;
    margin: 0;
    padding: 0 7px;
    font-size: 14px;
    cursor: default;
}

.pagination > .pagination-item:first-child {
    border-radius: 5px 0 0 5px;
}

.pagination > .pagination-item:last-child {
    border-right: solid 1px lightgrey;
    border-radius: 0 5px 5px 0;
}

.pagination > .pagination-item.active {
    border: solid 1px royalblue;
    background-color: royalblue;
    color: white;
}

.pagination > .pagination-item:active {
    background-color: #cce0ff;
}

.pagination > .pagination-item.disabled {
    pointer-events: none;
    color: lightgrey;
}


img.avatar {
    width: 50px !important;
    height: 50px !important;
}
@media (max-width: 575px) {
    img.avatar-responsive {
        width: 35px;
        height: 35px;
    }
}
@media (min-width: 576px) {
    img.avatar-responsive {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 768px) {
    img.avatar-responsive {
        width: 65px;
        height: 65px;
    }
}


/* --- I M A G E --- */
.img-container {
    margin: 10px;
}

.img {

}

.img.img-circle {
    border: solid 1px #3498db;
    border-radius: 50%;
}


/* --- B U T T O N   --- */
.btn {
    outline: none;
    color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 3px;
    border: solid 1px;
}

.btn.btn-icon {
    width: 19px !important;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: serif;
    display: inline-block;
}
.btn.btn-icon * {
    vertical-align: middle;
}

.btn.btn-xs {
    padding: 4px 12px;
    border-radius: 2px;
    font-size: 10px;
}
.btn.btn-sm {
    padding: 6px 18px;
    border-radius: 2px;
    font-size: 12px;
}
.btn.btn-md {
    padding: 8px 24px;
    border-radius: 3px;
    font-size: 14px;
}
.btn.btn-lg {
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 16px;
}
.btn.btn-xl {
    padding: 12px 36px;
    border-radius: 4px;
    font-size: 18px;
}

.btn.btn-success {
    border-color: forestgreen;
    background-color: forestgreen;
}
.btn.btn-success.btn-outline {
    color: forestgreen;
}
.btn.btn-success:hover {
    border-color: #207720;
    background-color: #207720;
}
.btn.btn-success.btn-outline:hover {
    color: #207720;
    background-color: #e4f5e4;
}
.btn.btn-success:active {
    border-color: darkgreen;
    background-color: darkgreen;
}
.btn.btn-success.btn-outline:active {
    color: darkgreen;
    background-color: #d4e5d4;
}

.btn.btn-primary {
    border-color: #2e599b;
    background-color: #2e599b;
}
.btn.btn-primary.btn-outline {
    color: #2e599b;
}
.btn.btn-primary:hover {
    border-color: #26437d;
    background-color: #26437d;
}
.btn.btn-primary.btn-outline:hover {
    color: #26437d;
    background-color: #e0e9f9;
}
.btn.btn-primary:active {
    border-color: #242f5f;
    background-color: #242f5f;
}
.btn.btn-primary.btn-outline:active {
    color: #242f5f;
    background-color: #d2daea;
}

.btn.btn-info {
    border-color: dodgerblue;
    background-color: dodgerblue;
}
.btn.btn-info.btn-outline {
    color: dodgerblue;
}
.btn.btn-info:hover {
    border-color: #1e76dc;
    background-color: #1e76dc;
}
.btn.btn-info.btn-outline:hover {
    color: #1e76dc;
    background-color: #e6f2ff;
}
.btn.btn-info:active {
    border-color: #1e5eb9;
    background-color: #1e5eb9;
}
.btn.btn-info.btn-outline:active {
    color: #1e5eb9;
    background-color: #d7e3f0;
}

.btn.btn-warning {
    border-color: orange;
    background-color: orange;
}
.btn.btn-warning.btn-outline {
    color: orange;
}
.btn.btn-warning:hover {
    border-color: #e69300;
    background-color: #e69300;
}
.btn.btn-warning.btn-outline:hover {
    color: #e69300;
    background-color: #fff9ed;
}
.btn.btn-warning:active {
    border-color: #cd7c00;
    background-color: #cd7c00;
}
.btn.btn-warning.btn-outline:active {
    color: #cd7c00;
    background-color: #f0eade;
}

.btn.btn-danger {
    border-color: indianred;
    background-color: indianred;
}
.btn.btn-danger.btn-outline {
    color: indianred;
}
.btn.btn-danger:hover {
    border-color: #b45d5d;
    background-color: #b45d5d;
}
.btn.btn-danger.btn-outline:hover {
    color: #b45d5d;
    background-color: #fff6f6;
}
.btn.btn-danger:active {
    border-color: #a55757;
    background-color: #a55757;
}
.btn.btn-danger.btn-outline:active {
    color: #a55757;
    background-color: #f0e7e7;
}

.btn.btn-outline {
    background-color: white;
}
.btn.btn-outline:hover, .btn.btn-outline:active {
    background-color: #fafafa;
}


/* --- T E X T --- */
.fs-p70 {
    font-size: 70%;
}
.fs-p50 {
    font-size: 50%;
}

.fw-bold, .font-weight-bold {
    font-weight: 600 !important;
}

.fw-mid, .font-weight-mid {
    font-weight: 500 !important;
}

.fw-normal, .font-weight-normal {
    font-weight: 400 !important;
}

.form-input.square {
    height: 30px;
    width: 100px;
}

.form-input.medium {
    width: 100px;
}


/* --- L A Y O U T --- */
.w-100 {
    width: 100% !important;
}
.w-75 {
    width: 75% !important;
}
.w-50 {
    width: 50% !important;
}
.w-25 {
    width: 25% !important;
}

.container, .container-fluid {
    min-height: calc(100vh - 60px);
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container.container-lifted, .container-fluid.container-lifted {
    padding-bottom: 15px;
}
.container .container-w100, .container-fluid .container-w100 {
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.row > .col {
    flex-grow: 1;
}

.row > .col,
.row > .col-1,
.row > .col-2,
.row > .col-3,
.row > .col-4,
.row > .col-5,
.row > .col-6,
.row > .col-7,
.row > .col-8,
.row > .col-9,
.row > .col-10,
.row > .col-11,
.row > .col-12 {
    margin-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-fluid.container-lifted {
        padding-bottom: 10px;
    }
    .container-fluid .container-w100 {
        margin-left: -10px;
        margin-right: -10px;
    }
    .container-fluid .row {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .container-fluid .row > .col,
    .container-fluid .row > .col-1,
    .container-fluid .row > .col-2,
    .container-fluid .row > .col-3,
    .container-fluid .row > .col-4,
    .container-fluid .row > .col-5,
    .container-fluid .row > .col-6,
    .container-fluid .row > .col-7,
    .container-fluid .row > .col-8,
    .container-fluid .row > .col-9,
    .container-fluid .row > .col-10,
    .container-fluid .row > .col-11,
    .container-fluid .row > .col-12 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media (max-width: 575px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container-fluid.container-lifted {
        padding-bottom: 5px;
    }
    .container-fluid .container-w100 {
        margin-left: -5px;
        margin-right: -5px;
    }
    .container-fluid .row {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
    .container-fluid .row > .col,
    .container-fluid .row > .col-1,
    .container-fluid .row > .col-2,
    .container-fluid .row > .col-3,
    .container-fluid .row > .col-4,
    .container-fluid .row > .col-5,
    .container-fluid .row > .col-6,
    .container-fluid .row > .col-7,
    .container-fluid .row > .col-8,
    .container-fluid .row > .col-9,
    .container-fluid .row > .col-10,
    .container-fluid .row > .col-11,
    .container-fluid .row > .col-12 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.row > .col-1 {
    width: calc(100% / (12 / 1)) !important;
}
.row > .col-2 {
    width: calc(100% / (12 / 2)) !important;
}
.row > .col-3 {
    width: calc(100% / (12 / 3)) !important;
}
.row > .col-4 {
    width: calc(100% / (12 / 4)) !important;
}
.row > .col-5 {
    width: calc(100% / (12 / 5)) !important;
}
.row > .col-6 {
    width: calc(100% / (12 / 6)) !important;
}
.row > .col-7 {
    width: calc(100% / (12 / 7)) !important;
}
.row > .col-8 {
    width: calc(100% / (12 / 8)) !important;
}
.row > .col-9 {
    width: calc(100% / (12 / 9)) !important;
}
.row > .col-10 {
    width: calc(100% / (12 / 10)) !important;
}
.row > .col-11 {
    width: calc(100% / (12 / 11)) !important;
}
.row > .col-12{
    width: calc(100% / (12 / 12)) !important;
}

@media (max-width: 575px) {
    .row > .col-xs-1 {
        width: calc(100% / (12 / 1)) !important;
    }
    .row > .col-xs-2 {
        width: calc(100% / (12 / 2)) !important;
    }
    .row > .col-xs-3 {
        width: calc(100% / (12 / 3)) !important;
    }
    .row > .col-xs-4 {
        width: calc(100% / (12 / 4)) !important;
    }
    .row > .col-xs-5 {
        width: calc(100% / (12 / 5)) !important;
    }
    .row > .col-xs-6 {
        width: calc(100% / (12 / 6)) !important;
    }
    .row > .col-xs-7 {
        width: calc(100% / (12 / 7)) !important;
    }
    .row > .col-xs-8 {
        width: calc(100% / (12 / 8)) !important;
    }
    .row > .col-xs-9 {
        width: calc(100% / (12 / 9)) !important;
    }
    .row > .col-xs-10 {
        width: calc(100% / (12 / 10)) !important;
    }
    .row > .col-xs-11 {
        width: calc(100% / (12 / 11)) !important;
    }
    .row > .col-xs-12{
        width: calc(100% / (12 / 12)) !important;
    }
}

@media (min-width: 576px) {
    .row > .col-sm-1 {
        width: calc(100% / (12 / 1)) !important;
    }
    .row > .col-sm-2 {
        width: calc(100% / (12 / 2)) !important;
    }
    .row > .col-sm-3 {
        width: calc(100% / (12 / 3)) !important;
    }
    .row > .col-sm-4 {
        width: calc(100% / (12 / 4)) !important;
    }
    .row > .col-sm-5 {
        width: calc(100% / (12 / 5)) !important;
    }
    .row > .col-sm-6 {
        width: calc(100% / (12 / 6)) !important;
    }
    .row > .col-sm-7 {
        width: calc(100% / (12 / 7)) !important;
    }
    .row > .col-sm-8 {
        width: calc(100% / (12 / 8)) !important;
    }
    .row > .col-sm-9 {
        width: calc(100% / (12 / 9)) !important;
    }
    .row > .col-sm-10 {
        width: calc(100% / (12 / 10)) !important;
    }
    .row > .col-sm-11 {
        width: calc(100% / (12 / 11)) !important;
    }
    .row > .col-sm-12{
        width: calc(100% / (12 / 12)) !important;
    }
}

@media (min-width: 768px) {
    .row > .col-md-1 {
        width: calc(100% / (12 / 1)) !important;
    }
    .row > .col-md-2 {
        width: calc(100% / (12 / 2)) !important;
    }
    .row > .col-md-3 {
        width: calc(100% / (12 / 3)) !important;
    }
    .row > .col-md-4 {
        width: calc(100% / (12 / 4)) !important;
    }
    .row > .col-md-5 {
        width: calc(100% / (12 / 5)) !important;
    }
    .row > .col-md-6 {
        width: calc(100% / (12 / 6)) !important;
    }
    .row > .col-md-7 {
        width: calc(100% / (12 / 7)) !important;
    }
    .row > .col-md-8 {
        width: calc(100% / (12 / 8)) !important;
    }
    .row > .col-md-9 {
        width: calc(100% / (12 / 9)) !important;
    }
    .row > .col-md-10 {
        width: calc(100% / (12 / 10)) !important;
    }
    .row > .col-md-11 {
        width: calc(100% / (12 / 11)) !important;
    }
    .row > .col-md-12{
        width: calc(100% / (12 / 12)) !important;
    }
}

@media (min-width: 992px) {
    .row > .col-lg-1 {
        width: calc(100% / (12 / 1)) !important;
    }
    .row > .col-lg-2 {
        width: calc(100% / (12 / 2)) !important;
    }
    .row > .col-lg-3 {
        width: calc(100% / (12 / 3)) !important;
    }
    .row > .col-lg-4 {
        width: calc(100% / (12 / 4)) !important;
    }
    .row > .col-lg-5 {
        width: calc(100% / (12 / 5)) !important;
    }
    .row > .col-lg-6 {
        width: calc(100% / (12 / 6)) !important;
    }
    .row > .col-lg-7 {
        width: calc(100% / (12 / 7)) !important;
    }
    .row > .col-lg-8 {
        width: calc(100% / (12 / 8)) !important;
    }
    .row > .col-lg-9 {
        width: calc(100% / (12 / 9)) !important;
    }
    .row > .col-lg-10 {
        width: calc(100% / (12 / 10)) !important;
    }
    .row > .col-lg-11 {
        width: calc(100% / (12 / 11)) !important;
    }
    .row > .col-lg-12{
        width: calc(100% / (12 / 12)) !important;
    }
}

@media (min-width: 1200px) {
    .row > .col-xl-1 {
        width: calc(100% / (12 / 1)) !important;
    }
    .row > .col-xl-2 {
        width: calc(100% / (12 / 2)) !important;
    }
    .row > .col-xl-3 {
        width: calc(100% / (12 / 3)) !important;
    }
    .row > .col-xl-4 {
        width: calc(100% / (12 / 4)) !important;
    }
    .row > .col-xl-5 {
        width: calc(100% / (12 / 5)) !important;
    }
    .row > .col-xl-6 {
        width: calc(100% / (12 / 6)) !important;
    }
    .row > .col-xl-7 {
        width: calc(100% / (12 / 7)) !important;
    }
    .row > .col-xl-8 {
        width: calc(100% / (12 / 8)) !important;
    }
    .row > .col-xl-9 {
        width: calc(100% / (12 / 9)) !important;
    }
    .row > .col-xl-10 {
        width: calc(100% / (12 / 10)) !important;
    }
    .row > .col-xl-11 {
        width: calc(100% / (12 / 11)) !important;
    }
    .row > .col-xl-12{
        width: calc(100% / (12 / 12)) !important;
    }
}


/* --- I M A G E   S L I D E S --- */
.slides-container {
    height: 35vw;
    width: 100%;
    margin-bottom: 15px;
}

/* This requires that '.slides-container' height and width be already set to 'definite' values */
.slides-container .slide-item,
.slides-container .slide-item .slide-image {
    height: inherit;
    width: 100%;
}

/* Hide the images by default */
.slides-container .slide-item {
    display: none;
}

/* Brings up the image box to encompass the Number text */
.slides-container .slide-item img {
    margin-top: -17px;
}

/* Number text (1/3 etc) */
.slides-container .slide-item .number-text {
    color: #6f0216;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 4px;
    max-width: 50px;
    border-radius: 0 0 5px 0;
    background-color: #e3f5c0;
    opacity: 0.6;
}
@media (max-width: 479px) {
    .slides-container .slide-item .number-text {
        font-size: 12px;
        top: 0;
    }
}

/* Arrow buttons container */
.slides-container .slide-arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50%
}

/* Arrow buttons :: 'Next' and 'Previous' */
.slides-container .slide-arrows .slide-arrow {
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    cursor: pointer;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.slides-container .slide-arrows .slide-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "prev button" to the left */
.slides-container .slide-arrows .slide-arrow.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.slides-container .slide-arrows .slide-arrow.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.slides-container .slide-item .caption-text {
    color: #6f0216;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 28px;
    max-width: 25%;
    border-radius: 0 15px 0 0;
    margin-left: 0;
    background-color: #e3f5c0;
    opacity: 0.6;
}
@media (max-width: 767px) {
    .slides-container .slide-item .caption-text {
        max-width: 30%;
    }
}
@media (max-width: 479px) {
    .slides-container .slide-item .caption-text {
        font-size: 13px;
        bottom: 25px;
        max-width: 40%;
    }
}

/* The dots/bullets/indicators */
.slides-container .slide-dots {
    margin-top: -30px;
    text-align: center;
}
.slides-container .slide-dots .slide-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.slides-container .slide-dots .active,
.slides-container .slide-dots .slide-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* --- F O R M --- */
.form-container {

}
.form-control {
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 2px;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1.4;
}
.form-control:not(textarea) {
    height: 32px;
}
.form-control:focus {
    outline: none;
    border: solid 1px lightsteelblue;
}


/* --- T A B L E --- */
.table-container {
    padding: 0;
}

.table-container .table-cta {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

.table {
    border: solid 1px lightgrey;
    border-spacing: 0;
}
.table-box {
    overflow-x: scroll;
    border-left: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
}
.table-box .table {
    border-left: 0;
    border-right: 0;
}

.table th, .table td {
    border: 0;
    padding: 6px;
    vertical-align: middle;
    text-align: initial;
    word-wrap: unset;
}

.table thead tr th, .table tbody tr td {
    border-right: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
    border-right: 0;
}
.table tbody tr:last-child td {
    border-bottom: 0;
}

.table-box.no-border, .table-box.no-border .table,
.table-box.no-border .table th, .table-box.no-border .table td {
    border-width: 0;
}

.match-table th:nth-child(8), .match-table td:nth-child(8) {
    border-left: double 10px
}

.truncate {
    overflow: hidden;
    height: calc(1.4rem * 1) !important;
}

.truncate .text-box {
    height: calc(1.4rem * 0) !important;
}

.truncate .read-more {
    width: 70px !important;
    padding: 1px 5px;
    text-align: right;
    position: relative;
    left: calc(100% - 70px);
    background-image: linear-gradient(
            to right,
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.9),
            rgba(255,255,255,1),
            rgba(255,255,255,1),
            rgba(255,255,255,1),
            rgba(255,255,255,1)
    );
}
.truncate .read-more .dot-arrow {
    font-size: 28px;
    line-height: 0.75;
}

.truncate-default {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}
.truncate-default .read-more {
    display: none !important;
}

.truncate.truncate-2 {
    height: calc(1.35rem * 2) !important;
}
.truncate.truncate-2 .text-box {
    height: calc(1.35rem * 1) !important;
}

.truncate.truncate-3 {
    height: calc(1.35rem * 3) !important;
}
.truncate.truncate-3 .text-box {
    height: calc(1.35rem * 2) !important;
}

.truncate.truncate-4 {
    height: calc(1.35rem * 4) !important;
}
.truncate.truncate-4 .text-box {
    height: calc(1.35rem * 3) !important;
}
